html {
    background: url(/media/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.has-background-no {
    background-color: transparent;
}

.footer-padding {
    padding: 2rem;
}

.main-section {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 3rem;
    position: relative;
}

.media-frame {
    padding: 16px;
    margin-bottom: 8px;
    border: 1px solid #60aeff;
    border-radius: 16px;
}

.is-full-width {
    width: 100%;
}

.table td, .table th {
    text-align: center;
    vertical-align: middle !important;
}

.media-entry {
    margin-bottom: 32px;
}

.media-image {
    background: no-repeat center;
    background-size: cover;
}